<script src="/javascript/chat.js"></script>
<link rel='stylesheet' href='/stylesheets/chat.css' />

<ul id="messages">
</ul>

<form id="chat-form" action="">
  <input id="m" placeholder="Click here to message." autocomplete="off" /><button>Send</button>
</form>
