<script src="javascript/stream.js"></script>
<link rel='stylesheet' href='/stylesheets/player.css' />
<div id="songlist">
  <h1>Horizontal scroll view of playlist?</h1>
</div>
<div id="currentsong">
  <h1>Current song goes here?</h1>
</div>
<div id="controls">
  <h1>Controls go here?</h1>
  <audio id="audioplayer" autoplay controls>
    <source src="/music.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</div>
