<link rel='stylesheet' href='/stylesheets/stream.css' />
<script src="/socket.io/socket.io.js"></script>
<script>var socket = io();</script>

<div id="main" class="container-row">
  <div id="chatbox" class="container-column">
    {{{chatbox_html}}}
  </div>
  <div id="musicbox" class="container-column">
    {{{musicbox_html}}}
  </div>
</div>
