<script src="javascript/stream.js"></script>
<link rel='stylesheet' href='/stylesheets/stream.css' />

<div id="main">
  <iframe src="/chat" id="chatbox"></iframe>
  <iframe src="/player" id="musicbox"></iframe>
</div>
