<link rel='stylesheet' href='/stylesheets/stream.css' />

<div id="main" class="container-row">
  <div id="chatbox">
    {{{chatbox_html}}}
  </div>
  <div id="musicbox" class="container-column">
    {{{musicbox_html}}}
  </div>
</div>
