#songlist, #currentsong, #controls {
  width: 100%;
  border: 1px solid black;
}

#songlist {
  flex-grow: 1;
  order: 1;
}

#currentsong {
  flex-grow: 3;
  order: 2;
}

#controls {
  flex-grow: 1;
  order: 3;
}
