#main {
  margin: auto;
  padding: 2%;
  
  #chatbox {
    height: 100%;
    width: 25%;

    border: 1px solid Silver;
  }

  #musicbox {
    height: 100%;
    width: 73%;

    border: 1px solid Silver;
  }
}
