#main {
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 2%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  
  #chatbox {
    height: 100%;
    width: 25%;

    border: 1px solid Silver;
  }

  #musicbox {
    height: 100%;
    width: 73%;

    border: 1px solid Silver;
  }
}
