<div class="fullscreen background parallax">
    <div class="content-a">
        <div class="content-b">
            <div class="centerpiece">
                <img src="/images/logoBG.png" width="80%" >
            </div>
            <div class="enter">
                <a href="/stream">
                <img class="enterButton">
                </a>
            </div>
        </div>
    </div>
</div>
